{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row p-3">
        <div class="col-12 text-center">
            {% if reviews %}
            <h1 class="sub-title mt-70">Edit Review As:</h1>
            <p><i class="fas fa-user fa-lg interactive-color"></i> {{ user.username  | slice:":10" }}</p>
            {% else %}
            <h1 class="sub-title mt-70">Add Review As:</h1>
            <p><i class="fas fa-user fa-lg interactive-color"></i> {{ user.username  | slice:":10" }}</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-6 p-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div class="text-center">
                <button class="btn btn-secondary right mb-4" type="submit" value="Save" aria-label="Submit Review">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock%}