{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}JB's Record Store | Add Review{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reviews/css/review.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row p-3">
        <div class="col-12 text-center">
            <h1 class="sub-title mt-70">Add Review</h1>
            <p><i class="fas fa-user fa-lg interactive-color"></i>Logged in as: {{ user.username }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="p-2">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
            {% else %}
            {{ field }}
            {% endif %}
            {% endfor %}
            <div class="text-center">
                <button class="btn btn-danger right mb-4" type="submit" value="Save" aria-label="Submit Review">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock%}