{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="text-center my-3">Customer Reviews</h2>
    <hr>
    <h3 class="sub-title interactive-color">Leave us a review!</h3>
    <hr>
    <p class="text-justify">This is your chance to let us know what you think about the service you received on this
        site. Your feedback
        will help us to improve the quality of our services. Thank you! </p>
    {% if user.is_authenticated %}
    <p><a class="btn btn-lg btn-warning my-4" href="{% url 'add_review' %}" role="button">Leave A Review</a></p>
    {% else %}
    <p>Please log in to leave a review.</p>
    {% endif %}
    <!-- List of existing reviews  -->
    {% for review in reviews_list %}
    <div class="container review-container">
        <div class="item mb-5">
            <div class="row g-3 g-xl-0">
                <div class="col-3 col-xl-3 review-image">
                    {% if review.image %}
                    <img class="review-image card-img-top img-fluid mt-2 px-4" src="{{ review.image.url }}"
                        alt="{{ review.name }} Review Image">
                    {% else %}
                    <img class="review-image card-img-top img-fluid mt-2 px-4" src="{{ MEDIA_URL }}noimage.png"
                        alt="{{ review.name }} Review Image">
                    {% endif %}
                </div>

                <div class="col-9 review-contents">
                    <h3 class="title mb-1">{{ review.review_title }}</h3>
                    <div class="meta mb-1"><span class="date">{{ review.date | date:"D d M Y"}}</span></div>
                    <div class="meta mb-1"><span class="author">Author: {{ review.name }}</span></div>
                    <div class="meta mb-1"><span class="review">
                            {% if review.rating == 5 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            {% elif review.rating == 4 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            {% elif review.rating == 3 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            {% elif review.rating == 2 %}
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            {% elif review.rating == 1 %}
                            <i class="fas fa-star"></i>
                            {% endif %}
                        </span></div>
                    {% if user.is_authenticated and user.username == review.name or user.is_superuser %}
                    <a class="btn btn-danger mb-3" href="update_review/{{review.id}}"
                        aria-label="Go to edit review {{review.id}} page">Edit</a>
                    <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal"
                        data-bs-target="#delete-review-{{review.id}}" aria-label="Delete">Delete</button>
                    {% endif %}
                    <div class="intro">{{ review.body }}</div>
                </div>
                <!--//col-->
            </div>
        </div>
        <!-- Delete review bootstrap modal-->
        <div class="modal fade" id="delete-review-{{review.id}}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Review</h5>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your review? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            aria-label="Close Modal">Close</button>
                        <a href="delete_review/{{review.id}}" aria-label="Delete review {{review.id}}"
                            class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}