{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="add_review" class="edit-comments">
    <div class="container">
        <div class="row p-3">
            <div class="col-12 text-center">
                {% if reviews %}
                <h1 class="sub-title mt-70">Edit Review</h1>
                <p><i class="fas fa-user fa-lg interactive-color"></i>Logged in as: {{ user.username }}
                </p>
                {% endif %}
            </div>
            <div class="col-lg-6 p-2">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% endfor %}
                    <div class="text-center">
                        <button class="btn btn-dark right mb-4" type="submit" value="Save" aria-label="Submit Review">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END ADD/UPDATE REVIEWS SECTION  -->
{% endblock %}