{% extends 'base.html' %}
{% load static %}

{% block extra_title %}JB's Record Store | Shopping Bag{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-3 mb-3">Your Shopping Bag</h1>
    <!-- Explain cart page and shows items in cart, if any -->
    {% if bag_items %}
    <p class="mt-3 mb-3"> This is the contents of your cart. Proceed to checkout by clicking on the green Checkout
        button below.</p>
    {% if free_delivery_delta > 0 %}
    <p class="mb-1 text-danger">
        You could get free shipping by spending just <strong>€{{ free_delivery_delta }}</strong> more!
    </p>
    {% endif %}
    <a href="{% url 'products' %}" class="btn btn-warning btn-md mt-2 mb-4 mx-auto" role="button">Keep Shopping</a>
    <div class="row">
        {% for item in bag_items %}
        <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <div class="card">
                <div class="card-body mx-auto">
                    {% if item.product.image %}
                    <img class="card-img-top" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="card-img-top " src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    {% endif %}
                    <h5 class="card-text text-center mt-3">{{ item.product.name|truncatechars:20 }}</h5>
                    <h5 class="card-text text-center">{{ item.product.artist }}</h5>
                    <p class="card-text text-center">€{{ item.product.price }}</p>
                    <form method="post" action="{% url 'remove_from_bag' item.id %}">
                        {% csrf_token %}
                        <div class="input-group card-text text-center">
                            <span class="input-group-btn mx-auto">
                                <button class="btn btn-danger" type="submit">Remove</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>

    <a href="{% url 'products' %}" class="btn btn-warning btn-lg mt-2 mb-4 mx-auto" role="button">Keep Shopping</a>
    {% endif %}
</div>
<div class="container">
    <hr>
    <div class="row">
        {% if bag_items %}
        <div class="row text-black text-right">
            <div class="col-9">
                <p class="my-0">Order Subtotal:</p>
                <p class="my-0">Shipping Fees:</p>
                <p class="my-0"> <strong>To Be Charged:</strong></p>
            </div>
            <div class="col-3">
                <p class="my-0 text-center">€{{ total | floatformat:2 }}</p>
                <p class="my-0 text-center">€{{ delivery | floatformat:2 }}</p>
                <p class="my-0 text-center"><strong>€{{ grand_total | floatformat:2 }}</strong></p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% if bag_items %}
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 mt-4">
            <form class="text-center" action="{% url 'checkout' %}">
                <button class="btn btn-success mx-auto" type="submit">Go to Checkout</button>
            </form>
        </div>
        <div class="col-3"></div>

    </div>
</div>
{% endif %}
{% endblock %}