{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- <div id="about" class="container-fluid bg-dark text-dark">
    <div class="container-fluid"> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <!-- Visitors see main purpose of site highlighted here -->

                <div class="logo-box">
                    <img class="img-fluid" alt="logo" src="">
                </div>
                <p class="lead px-2 text-center">Welcome to my music store! Here, you can buy a variety of
                    well-known
                    rock, metal and grunge albums on various formats (CD, LP and cassette). These albums are from my
                    own
                    personal collection
                    - you can browse the available albums by genre from the site navigation above, and also search
                    the store by clicking on the "Search" option in the navigation. Happy browsing!
                </p>
                <p><a class="btn btn-lg btn-warning my-4" href="" role="button">Record Store</a></p>

            </div>
        </div>
        <div class="container">
            <div class="row no-gutters mb-4 mx-auto">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div id="info-box">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <i class="fa fa-info fa-2x" aria-hidden="true"></i>
                                <h5 class="card-title">Glossary</h5>
                                <hr>
                                <p class="card-text text-center">Glossary text goes here, god knows what it'll be
                                    though.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div id="info-box">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
                                <h5 class="card-title">Record store</h5>
                                <hr>
                                <p class="card-text text-center"> Do you know what you want? Check out the records in my
                                    collection, their condition and purchase the issues you've always wanted.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div id="info-box">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <i class="fa fa-envelope big-icon fa-2x" aria-hidden="true"></i>
                                <h5 class="card-title">Contact</h5>
                                <hr>
                                <p class="card-text text-center">Need to reach out to me with a question on an album? Or
                                    regarding your order? Use the Contact link above to get in touch.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12">
                    <div id="info-box">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <i class="fa fa-question fa-2x" aria-hidden="true"></i>
                                <h5 class="card-title">FAQs</h5>
                                <hr>
                                <p class="card-text text-center">In this section I answer your questions. Find out why
                                    I've
                                    decided to start this store to sell my albums and what I'm planning next!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}