@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    background-color: #fff;

}

/* Fonts  */

p {
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: #e31f25 !important;
}

.nav-item {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.jumbotron {
    padding: 20px 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.container-fluid {
    width: 90%;
}

.image-container {
    border: solid 1px #6B7177;
}

/* .card {
    margin: 20px 20px;
    border: solid 2px;
    color: #6B7177;
} */

.card-title {
    font-size: 20px;
    text-align: center;
    color: #6B7177;
}

.post-link {
    text-decoration: none;
}

.card-meta {
    text-align: center;
    color: #6B7177;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    color: #6B7177;
}

button {
    font-family: 'Roboto', sans-serif;
}

.btn-danger {
    background-color: #e31f25 !important;
}

/* .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: #f7f7f7;
    color: white;
} */

#info-box {
    transition: all .2s ease-in-out;
}

#info-box:hover {
    transform: scale(1.10);
}

/* For titles on cards on Index page */
.card-title {
    margin: 10px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

i.fa-2x {
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fa-cassette-tape {
    color: #6B7177 !important;
}

/* MC Form  */

.form-field-container {
    padding-left: 1.8rem;
}

#mc_embed_signup {
    background: #e31f25 !important;
    border-radius: 10px;
    padding-bottom: 10px;
    font: 14px "Oswald", sans-serif;
}

#mc_embed_signup .mc-field-group label {
    font-size: 20px;
    color: #fff;
}

#mc_embed_signup .mc-field-group input {
    text-indent: 1%;
}

#mc_embed_signup h2 {
    padding-top: 30px;
    font-size: 34px;
    text-align: center;
    color: #fff;
}

input {
    /* width: 100%; */
    font-family: 'Roboto', sans-serif;
}

textarea {
    width: 100%;
}

.about-me-h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
}

.img-fluid {
    align-items: center;
    height: auto;
}

.logo-box {
    height: 80%;
    width: 80%;
}

.fa-shopping-bag {
    color: #fff;
}

p.lead {
    padding-top: 20px;
}

.lead {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

footer {
    background-color: #e31f25;
}

.copyright-section {
    background-color: rgba(0, 0, 0, 0.2);
}

#footer-details {
    min-height: 130px;
    padding-top: 20px;
    text-align: center;
}

/* Product Detail page  */

.input-group {
    display: block;
}

.masthead {
    margin-top: 10px;
}

.product-detail {
    text-align: center;
    padding-bottom: 10px;
}

.product-title {
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
}


/* Media queries  */

@media screen and (max-width: 992px) {
    h1.product-title {
        margin-top: 5%;
        margin-left: 0px;

    }
}

/* Product form  */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;

    /* Login page test  */


    .login #id_remember {
        width: 20px;
        display: inline;
    }

    .authentication-username {
        text-transform: lowercase;
    }

    .fa-star {
        color: #f5ce42 !important;
    }