@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    background-color: #fff;

}

.container-fluid {
    width: 90%;
}

div.logo-box {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url('/static/images/alt-home-image.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 30vw;

}

/* Navigation  */

.navbar {
    background-color: #e31f25 !important;
}

.navbar a:hover {
    color: #ebe9e4 !important;
}

.dropdown-menu li {
    font-family: 'Oswald', sans-serif;
}

.nav-item {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.navbar-toggler {
    border-color: #e6e2da !important;
}

.user-icon {
    padding-right: 5px;
}

/* Fonts  */

p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

p.text-checkout {
    text-align: left !important;
}

.text-light {
    color: #fff !important;
}

a.btn-success {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    padding: 20px 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.image-container {
    border: solid 1px #6B7177;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: #6B7177;
}

.post-link {
    text-decoration: none;
}

.card-meta {
    text-align: center;
    color: #6B7177;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    color: #6B7177;
}

button {
    font-family: 'Roboto', sans-serif;
}

.button-border {
    border-color: #212529;
}

.btn-warning {
    font-family: 'Roboto', sans-serif;
}

.btn-danger {
    background-color: #e31f25 !important;
}

#info-box {
    transition: all .2s ease-in-out;
}

#info-box:hover {
    transform: scale(1.10);
}

/* For titles on cards on Index page */
.card-title {
    margin: 10px 0px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

i.fa-2x {
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.fa-cassette-tape {
    color: #6B7177 !important;
}

/* MC Form  */

.form-field-container {
    padding-left: 1.8rem;
}

#mc_embed_signup {
    background: #e31f25 !important;
    border-radius: 10px;
    padding-bottom: 10px;
    font: 14px "Oswald", sans-serif;
}

#mc_embed_signup .button {
    background-color: #fff;
    color: #212529;
}

#mc_embed_signup .mc-field-group label {
    font-size: 20px;
    color: #fff;
}

#mc_embed_signup .mc-field-group input {
    text-indent: 1%;
}

#mc_embed_signup h2 {
    padding-top: 30px;
    font-size: 34px;
    text-align: center;
    color: #fff;
}

#mc_embed_signup #mce-success-response {
    color: white;
    font-size: 18px;
}

input {
    font-family: 'Roboto', sans-serif;
}

textarea {
    width: 100%;
}

.about-me-h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
}

a.btn {
    font-family: 'Roboto', sans-serif;
}

.img-fluid {
    align-items: center;
    height: auto;
}

.logo-box {
    height: 80%;
    width: 80%;
}

.fa-shopping-bag {
    color: #fff;
}

p.lead {
    padding-top: 20px;
}

.lead {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Footer  */
footer {
    background-color: #e31f25;
}

i.social-icons {
    font-size: 23px;
}

/* Product Detail page  */

.input-group {
    display: block;
}

.masthead {
    margin-top: 10px;
}

.product-detail {
    text-align: center;
    padding-bottom: 10px;
}

.product-title {
    text-align: center;
    margin-top: 20%;
    margin-left: 5%;
}

/* Product form  */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Allauth pages  */

.signup input,
.login input {
    width: 100%;
    border: 1px solid #212529;
    padding: 5px;
    margin: 5px 0 10px 0;
}

p.sign-out {
    margin-bottom: 0px;
}

.signup label,
.login label {
    display: block;
    text-align: center;
    color: #212529;
    /* font-weight: bold; */
}

.login #id_remember {
    width: 20px;
    display: inline;
}

.authentication-username {
    text-transform: lowercase;
}

.fa-star {
    color: #f5ce42 !important;
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.sign-in-button {
    margin: 8px;
}

.login label[for="id_remember"] {
    display: inline;
    margin: 5px;
}

.login #id_remember {
    width: 20px;
    display: inline;
}

.authentication-username {
    text-transform: lowercase;
}

/* Terms & Conditions page  */

li {
    font-family: 'Roboto', sans-serif;
}

/* Reviews */

.review-container {
    padding-left: 0px !important;
}

/* Media queries  */

@media screen and (max-width: 992px) {
    h1.product-title {
        margin-top: 5%;
        margin-left: 0px;

    }

    .review-image {
        display: none;
    }

    .review-contents {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    div.logo-box {
        min-height: 40vw;
        min-width: 80vw;
    }
}