{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="text-black">Page Not Found</h1>
            <hr>
            <h3 class="text-black">
                Whoops! The page you're looking for doesn't exist.
            </h3>
            <div class="my-5">
                <h4>
                    <a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 button-border ">
                        Return to Home
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}