{% load static %}

<div class="mt-auto">
    <footer class="text-center text-white">

        <div class="container">
            <section class="mt-5">

                <div class="row text-center d-flex justify-content-center pt-5">

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'home' %}" class="text-white">Home</a>
                        </h6>
                    </div>

                    <!-- <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'products' %}" class="text-white">Products</a>
                        </h6>
                    </div> -->

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'terms' %}" class="text-white">Terms & Conditions</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'privacy' %}" class="text-white">Privacy Policy</a>
                        </h6>
                    </div>

                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'faqs' %}" class="text-white">FAQ's</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'reviews' %}" class="text-white">Customer Reviews</a>
                        </h6>
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="{% url 'contact' %}" class="text-white">Contact Us</a>
                        </h6>
                    </div>
                </div>
            </section>

            <!-- Social Media Icons  -->
            <hr class="my-5" />
            <section class="text-center mb-5">
                <a href="https://www.facebook.com/" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://instagram.com/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
            </section>
        </div>


        <div class="text-center p-3 copyright-section">
            Site Created By:
            <a class="text-white" href="https://jonathanburrell.com">Jonathan Burrell</a>
        </div>

    </footer>

</div>