{% load static %}

<footer class="container-fluid">
    <div class="row py-lg-3 px-lg-3">
        <!-- Footer navigation -->
        <div class="col-12 col-md-4 p-4 text-center">
            <ul class="nav flex-column divider px-4">
                <li class="nav-item">
                    <a href="" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Store</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-4 p-4 text-center">
            <h3 class="text-dark">Check out my store on social media!</h3>
            <!-- Section: Social media -->
            <div class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="" target="_blank" aria-label="" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="" target="_blank" aria-label="" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="" target="_blank" aria-label="" role="button"><i
                        class="fab fa-instagram"></i></a>

            </div>
        </div>
        <!-- Keep in touch section -->
        <div class="col-12 col-md-4 p-4 text-center order-first">
            <div>
                <h2 class="mb-4">Stay in touch!</h2>
            </div>
            <!-- Begin Mailchimp Signup Form -->
        </div>
    </div>
</footer>