<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="{% url 'home' %}">JB's Record Store</a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" role="button" id="dropdownMenuFormat"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            By Format
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}">All Products</a></li>
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}?format=lp">LP</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?format=compact_disc">Compact
                                    Disc</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?format=cassette">Cassette</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" role="button" id="dropdownMenuGenre"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            By Genre
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}">All Products</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?genre=alternative_rock">Alternative Rock</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?genre=classic_rock">Classic
                                    Rock</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?genre=electronic">Electronic</a></li>
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}?genre=folk_rock">Folk
                                    Rock</a></li>
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}?genre=grunge">Grunge</a>
                            </li>
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}?genre=metal">Metal</a>
                            </li>
                            <li><a class="dropdown-item text-dark" href="{% url 'products' %}?genre=post_rock">Post
                                    Rock</a></li>
                            <li><a class="dropdown-item text-dark"
                                    href="{% url 'products' %}?genre=progressive_rock">Progressive Rock</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" href="{% url 'faqs' %}">FAQs</a>
                    </li>
                    {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" role="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span><i class="fas fa-user user-icon text-light"></i>{{user.username}}</span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_superuser %}
                            <li><a class="dropdown-item text-dark" href="{% url 'add_product' %}">Add New Product</a>
                            </li>
                            {% endif %}
                            <li><a class="dropdown-item text-dark" href="{% url 'profile' %}">My Profile</a></li>
                            <li><a class="dropdown-item text-dark" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_bag' %}">
                            <p class="my-0 text-white">
                                <i class="fas fa-shopping-bag fa-lg"></i>
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </a>

                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>