{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<hr>
<h2 class="logo-font mb-4">{% trans "Sign In" %}</h2>
<hr>
<p>{% blocktrans %}If you have not created an account yet, then please
  <strong><a href="{{ signup_url }}">sign up</a></strong> first.{% endblocktrans %}If you've forgotten your password,
  then <a class="link" href="{% url 'account_reset_password' %}"> <strong>click here</strong></a> to reset it.</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="text-center">
    <a class="btn btn-outline-black rounded-0 button-border" href="{% url 'home' %}">Home</a>
    <button class="btn btn-dark rounded-0" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>

{% endblock %}