{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}JB's Record Store | Contact{% endblock %}

{% block content %}

<div class="container">
    <h2 class="my-4">Contact Us!</h2>
    <p>Send us a message through this Contact form, and you'll receive a reply within 24 hours. Thanks!</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{contact_form|crispy}}
        <button class="btn btn-warning my-4" type="submit">Submit</button>
    </form>

</div>


{% endblock%}