{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}


<div class="container">
    <h2 class="review-heading mx-4 my-0 text-center">Products</h2>
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                                    alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid"
                                    src="{{ MEDIA_URL }}il_fullxfull.2465788740_kimi.jpg" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <a href="{% url 'product_detail' product.id %}" class="post-link">
                            <h2 class="card-title">{{ product.name }}</h2>
                        </a>
                        <hr>
                        <h5 class="card-meta">Artist: {{ product.artist }} </h5>
                        <!-- <h5 class="card-meta">Release Year: {{ product.release_year }}</h5> -->
                        <h5 class="card-meta"><i class="fa fa-record-vinyl" aria-hidden="true"></i>
                            {{ product.category.friendly_name }}</h5>
                        <h5 class="card-meta">Genre: {{ product.genre.friendly_name }}
                        </h5>
                        <hr />
                        <h5 class="card-meta">Price: {{ product.price }}</h5>
                        <hr>
                        <p class="card-text card-meta">{{ product.excerpt }}</p>

                        {% if product.stock > 0 %}
                        <form method="POST" action="{% url 'add_to_bag' product.id %}">
                            {% csrf_token %}
                            <div class="input-group card-text text-center">
                                <span class="input-group-btn ml-6 mb-5">
                                    <button class="btn btn-danger" type="submit">Add to Cart</button>
                                </span>
                            </div>
                        </form>
                        {% else %}
                        <button class="w-100 text-center btn btn-danger">Out of Stock</button>
                        {% endif %}



                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}

            {% endfor %}

        </div>

    </div>

</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div>
            <span>
                {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="btn btn-danger">Previous</a>
                {% endif %}


                {% if products.has_previous or products.has_next %}
                <span class="current-page">
                    Page {{ products.number }} of {{ products.paginator.num_pages }}
                </span>
                {% endif %}

                {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}" class="btn btn-danger">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>




{% endblock %}