{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container mt-md-5">
    <h2 class="review-heading mx-4 my-0 text-center">Products</h2>
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            <a href="#">

                                <img class="card-img-top" src="{{ product.image.url }}" alt="album thumbnail image">

                            </a>
                        </div>
                        <a href="#" class="post-link">
                            <h2 class="card-title text-dark">{{ product.title }}</h2>
                        </a>
                        <h5 class="card-title text-dark">Price: {{ product.price }}</h5>
                        <hr />
                        <p class="card-text">{{ product.excerpt }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>

{% endblock %}