{% extends 'base.html' %}

{% block content %}

<div class="masthead">
    <div class="container product-detail">
        <div class="row g-0">
            <div class="d-sm-block col-lg-6">
                <div class="image-container">
                    {% if product.image %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}il_fullxfull.2465788740_kimi.jpg"
                            alt="{{ product.name }}">
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="col-lg-6">
                <!-- Review title -->
                <h1 class="product-title">{{ product.name }}</h1>
                <hr>
                <h5 class="card-meta">Artist: {{ product.artist }} </h5>
                <!-- <h5 class="card-meta">Release Year: {{ product.release_year }}</h5> -->
                <h5 class="card-meta"><i class="fa fa-record-vinyl" aria-hidden="true"></i>
                    {{ product.category.friendly_name }}</h5>
                <h5 class="card-meta">Genre: {{ product.genre.friendly_name }}</h5>
                <h5 class="card-meta">Condition: {{ product.condition }} </h5>
                {% if product.rating %}
                <h5 class="text-muted"><i class="fas fa-star"></i> {{ product.rating }} / 5</h5>
                {% else %}
                <h5 class="text-muted">No Rating</h5>
                {% endif %}
                {% if request.user.is_superuser %}
                <hr>
                <div class="text-center"><a class="btn btn-success" href=" {% url 'edit_product' product.id %}">Edit</a>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#delete-product{{ product.id }}" aria-label="Delete">Delete</button>
                </div>
                {% endif %}
                <hr />
                <h5 class="card-meta">Price: {{ product.price }}</h5>
                <form method="POST" action="{% url 'add_to_bag' product.id %}">
                    {% csrf_token %}
                    <div class="input-group card-text text-center">
                        <span class="input-group-btn ml-6 mb-5">
                            <button class="btn btn-danger" type="submit">Add to Cart</button>
                        </span>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>


{% endblock %}